.sidebar {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  width: 20rem;
  height: 100vh;
  padding: 1rem;
  margin-left: 5rem;

  .tt-logo {
    width: 50px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 2rem;

    .nav-option {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 10px;

      .nav-option-img {
        width: 2.5rem;
      }

      .nav-option-txt {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }


}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 4rem;
  }
}