$tt-blue: #1da1f2;

.sidebar {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  width: 20rem;
  height: 100vh;
  padding: 1rem;
  margin-left: 5rem;

  .tt-logo {
    width: 50px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 2rem;

    .nav-option {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 10px;

      .nav-option-img {
        width: 2.5rem;
      }

      .nav-option-txt {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }

  .tweet-btn {
    background: $tt-blue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 1.5rem 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    .pencil {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .nav {
      span {
        display: none;
      }
    }

    .tweet-btn {
      background: rgb(33, 140, 247);
      color: white;

      border: none;
      outline: none;

      border-radius: 50px;
      padding: 1rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 1rem;

      span {
        display: none;
      }

      .pencil {
        display: block;
      }
    }
  }
}
