.new-tweet-container {
  display: flex;
  align-items: start;

  padding: 0.5rem;

  border-left: 0.5px solid rgb(235, 238, 240);

  border-bottom: 10px solid #ebeef0;

  .new-tweet-img {
    padding: 1rem;
    width: 3.5rem;

    border-radius: 100%;
  }

  .new-tweet {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;

    .new-tweet-input {
      color: #5b7083;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;

      border: none;
      outline: none;
      height: 4rem;
      resize: vertical;
    }
  }

  .btn-positioning {
    display: flex;
    justify-content: end;
  }
}
